*.o
*.make
*.dylib
*.marks
*cache
*.dat
*.internal
*.hepmc
*.*~
html/*
build/*
external_packages/LBT*
external_packages/iSS*
external_packages/music*
examples/test_hydro_files/
external_packages/iS3D
external_packages/freestream-milne/
# When SMASH is public this should be changed to "external_packages/smash/smash_code"
external_packages/smash/smash_code/build
