name: build test

on:
  pull_request:
    branches:
      - main
      - release-candidate

jobs:
  build:
    name: external packages
    runs-on: ubuntu-latest
    
    container:
      image: jetscape/base:v1.4
      options: --user root
      
    steps:
      
    - name: Checkout JETSCAPE
      uses: actions/checkout@v2
      with:
        path: JETSCAPE
        
    - name: Download MUSIC
      run: |
        cd $GITHUB_WORKSPACE/JETSCAPE/external_packages
        ./get_music.sh
    
    - name: Download ISS
      run: |
        cd $GITHUB_WORKSPACE/JETSCAPE/external_packages
        ./get_iSS.sh
    
    - name: Download FREESTREAM
      run: |
        cd $GITHUB_WORKSPACE/JETSCAPE/external_packages
        ./get_freestream-milne.sh

    - name: Download SMASH
      run: |
        cd $GITHUB_WORKSPACE/JETSCAPE/external_packages
        ./get_smash.sh

    - name: Build JETSCAPE
      run: |
        cd $GITHUB_WORKSPACE/JETSCAPE
        mkdir build
        cd build
        cmake .. -DUSE_MUSIC=ON -DUSE_ISS=ON -DUSE_FREESTREAM=ON
        make -j2
