name: build+regression test brick matter lbt

on:
  pull_request:
    branches:
      - main
      - brick_matter_lbt
      - JETSCAPE-3.7-RC
      - cpp17_cmake_syntax
      - ipglasma
      - support_LHAPDF
  push:
    branches:
      - main
      - brick_matter_lbt
      - JETSCAPE-3.7-RC
      - cpp17_cmake_syntax
      - ipglasma
      - support_LHAPDF

env:
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    name: brick_matter_lbt
    runs-on: ubuntu-latest

    container:
      image: jetscape/base:v1.11
      options: --user root

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        path: ${{ github.event.repository.name }}

    - name: Download Lbt Tables
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_lbtTab.sh

    - name: Build Application
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}
        mkdir build
        cd build
        cmake ..
        make -j2

    - name: Checkout TEST-EXAMPLES
      uses: actions/checkout@v4
      with:
        repository: JETSCAPE/TEST-EXAMPLES
        ref: main
        path: TEST-EXAMPLES

    - name: Run Brick Matter Lbt tests
      run: ${GITHUB_WORKSPACE}/TEST-EXAMPLES/test/brick_matter_lbt/runBrickMatterLbtTest.sh -j ${GITHUB_WORKSPACE}/${REPO_NAME} -a ${GITHUB_WORKSPACE}/TEST-EXAMPLES -c ${GITHUB_WORKSPACE}/TEST-EXAMPLES/test/brick_matter_lbt/config/jetscape_user.xml -o ${GITHUB_WORKSPACE}/TEST-EXAMPLES/test/brick_matter_lbt/output/new -r ${GITHUB_WORKSPACE}/TEST-EXAMPLES/test/brick_matter_lbt/output/latest
