name: build test

on:
  pull_request:
    branches:
      - main
      - JETSCAPE-3.6.7-RC
      - cpp17_cmake_syntax
      - ipglasma
  push:
    branches:
      - main
      - JETSCAPE-3.6.7-RC
      - cpp17_cmake_syntax
      - ipglasma

env:
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    name: external packages
    runs-on: ubuntu-latest
    
    container:
      image: jetscape/base:v1.10
      options: --user root
      
    steps:
      
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        path: ${{ github.event.repository.name }}
        
    - name: Download MUSIC
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_music.sh
    
    - name: Download ISS
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_iSS.sh
    
    - name: Download FREESTREAM
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_freestream-milne.sh

    - name: Download IPGLASMA
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_ipglasma.sh

    - name: Download SMASH
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages
        ./get_smash.sh

    - name: Build Application
      run: |
        cd ${GITHUB_WORKSPACE}/${REPO_NAME}
        mkdir build
        cd build
        export SMASH_DIR="${GITHUB_WORKSPACE}/${REPO_NAME}/external_packages/smash/smash_code"
        cmake .. -DUSE_MUSIC=ON -DUSE_ISS=ON -DUSE_FREESTREAM=ON -DUSE_SMASH=ON -DUSE_IPGLASMA=ON
        make -j2
